workflows/[TOOL] Add feedback for day.json
{
  "name": "[TOOL] Add feedback for day",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef8f997-54be-408e-b694-7f50c6a7dc8b",
              "name": "newFeedback",
              "value": "={{ $('Row').item.json.feedback ? $('Row').item.json.feedback + \"\\n\" + $('Start').item.json.feedback : $('Start').item.json.feedback }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "851afeab-5732-418e-8a8d-94d9ebe633e4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tabName"
            },
            {
              "name": "day"
            },
            {
              "name": "feedback"
            },
            {
              "name": "sheetId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "f0c196de-ce52-4826-93f0-3be7d403654b",
      "name": "Start"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Start').item.json.tabName }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "day",
              "lookupValue": "={{ $json.day }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "3f797799-615c-4c7b-85fb-ada2177f2267",
      "name": "Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J0v5eGYbQ49Y33Is",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Start').item.json.tabName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "feedback": "={{ $json.newFeedback }}",
            "day": "={{ $json.day }}"
          },
          "matchingColumns": [
            "day"
          ],
          "schema": [
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "warmUp",
              "displayName": "warmUp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "warmUpExercises",
              "displayName": "warmUpExercises",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mainRoutine",
              "displayName": "mainRoutine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "df9d9f5a-0fba-4e1e-9d34-0de606db3d0d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J0v5eGYbQ49Y33Is",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1fe6f5b2-c66e-479c-9daa-6655e3b12892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35eeb1559ddbb34785d751ad6f811896d5950bf49657b92992f98b15437ded87"
  },
  "id": "4kD7xidfp3J53I0y",
  "tags": [
    {
      "updatedAt": "2025-12-29T19:20:45.420Z",
      "createdAt": "2025-12-29T19:20:45.420Z",
      "id": "Kx3RU96jLGoJfyhT",
      "name": "tool"
    },
    {
      "updatedAt": "2025-12-29T19:20:45.402Z",
      "createdAt": "2025-12-29T19:20:45.402Z",
      "id": "qGDdykYm74MmqAaH",
      "name": "current"
    }
  ]
}