workflows/[TOOL] Create tab in Google Sheet.json
{
  "name": "[TOOL] Create tab in Google Sheet",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.sheetId }}",
          "mode": "id"
        },
        "title": "={{ $('Start').item.json.tabName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "b8d41278-1f2a-4811-b174-312e5bf8927e",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J0v5eGYbQ49Y33Is",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVnpFX9GunNCI51Lmn7aWfe6lbmAXEcaVVyFD8Wy9DA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ $('Start').item.json.tabName }}"
          },
          "matchingColumns": [
            "tabName"
          ],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        0
      ],
      "id": "8902deda-28bf-4771-a456-dd40b4f82e7c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J0v5eGYbQ49Y33Is",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7107846-798c-4eb3-9695-4859e0a66918",
              "name": "tabName",
              "value": "={{ $('Start').item.json.tabName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "c615fb35-9fd0-4b9b-b11d-c7ecb3d261da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tabName"
            },
            {
              "name": "sheetId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "870c5298-51ac-4a80-8a82-dae5fd79d207",
      "name": "Start"
    }
  ],
  "pinData": {},
  "connections": {
    "Create sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "714f8c54-f40e-4f83-8336-dce54e70d1b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35eeb1559ddbb34785d751ad6f811896d5950bf49657b92992f98b15437ded87"
  },
  "id": "rqHLQ2kbpzzhlLEI",
  "tags": [
    {
      "updatedAt": "2025-12-29T19:20:45.420Z",
      "createdAt": "2025-12-29T19:20:45.420Z",
      "id": "Kx3RU96jLGoJfyhT",
      "name": "tool"
    },
    {
      "updatedAt": "2025-12-29T19:20:45.402Z",
      "createdAt": "2025-12-29T19:20:45.402Z",
      "id": "qGDdykYm74MmqAaH",
      "name": "current"
    }
  ]
}