workflows/Training assistant.json
{
  "name": "Training assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        240
      ],
      "id": "e8ed6160-449c-4540-a908-cf490cdff098",
      "name": "Telegram Trigger",
      "webhookId": "bceae5ac-59e1-44bd-b560-de0fab18fab9",
      "credentials": {
        "telegramApi": {
          "id": "vMtMRLsfh5VOuNL2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Context Data').item.json.GoogleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `Name of the tab in the given sheet (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -272,
        816
      ],
      "id": "ba2d4366-6dc2-461f-b708-5b05259bcd03",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J0v5eGYbQ49Y33Is",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $today.format('yyyy-MM-dd')}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -848,
        640
      ],
      "id": "546a5a95-1f01-4474-8139-24040e49aab7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "MPLeRfy3FOTBTAqE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "fc0c655a-81c4-4ec7-9a38-da37e906f8ad",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "MPLeRfy3FOTBTAqE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1024,
        640
      ],
      "id": "78fbb23d-2f67-406d-8233-af502335af2e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L4fWk38iriTrwSIu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -528,
        96
      ],
      "id": "e6104b33-6c83-4c00-a95d-08d664bb012a",
      "name": "Typing",
      "webhookId": "fd190c1e-e6ff-4699-875f-76f601c3fe52",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "vMtMRLsfh5VOuNL2",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Training assistant').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        304
      ],
      "id": "943fdc69-2a54-4419-bfd9-1b2c1e5849e0",
      "name": "Send response",
      "webhookId": "574cef85-2f06-449d-adf9-ecf06ee73b7b",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "vMtMRLsfh5VOuNL2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -592,
        304
      ],
      "id": "b8900786-a8aa-4f3b-865e-c44e43f17b15",
      "name": "Training assistant"
    },
    {
      "parameters": {
        "description": "Call this tool to get the name of the current week (this week's name)",
        "jsCode": "function getWeekName(now = new Date(), timeZone = \"America/Argentina/Buenos_Aires\") {\n  const dtf = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone,\n    weekday: \"short\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false,\n  });\n\n  const parts = Object.fromEntries(dtf.formatToParts(now).map(p => [p.type, p.value]));\n  const weekday = parts.weekday; // \"Mon\", \"Tue\", ...\n  const hour = Number(parts.hour);\n  const year = Number(parts.year);\n  const month = Number(parts.month);\n  const day = Number(parts.day);\n\n  const dayIndexMap = { Sun: 0, Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6 };\n  const dayIndex = dayIndexMap[weekday];\n\n  const isSunday = dayIndex === 0;\n  const isSaturdayAfternoon = dayIndex === 6 && hour >= 12;\n\n  const todayCivilUTC = new Date(Date.UTC(year, month - 1, day));\n\n  const daysSinceMonday = (dayIndex + 6) % 7;\n  const daysUntilMonday = (1 - dayIndex + 7) % 7;\n\n  const deltaDays = (isSunday || isSaturdayAfternoon) ? daysUntilMonday : -daysSinceMonday;\n\n  const mondayUTC = new Date(todayCivilUTC);\n  mondayUTC.setUTCDate(mondayUTC.getUTCDate() + deltaDays);\n\n  const dd = String(mondayUTC.getUTCDate()).padStart(2, \"0\");\n  const mm = String(mondayUTC.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = String(mondayUTC.getUTCFullYear());\n\n  return `${dd}-${mm}-${yyyy}`;\n}\n\nreturn getWeekName();"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -544,
        992
      ],
      "id": "96e43c48-8211-4a46-814d-7bc647152004",
      "name": "Get current week"
    },
    {
      "parameters": {
        "description": "Call this tool to get the name of the past week",
        "jsCode": "function getPreviousWeekName(now = new Date(), timeZone = \"America/Argentina/Buenos_Aires\") {\n  const dtf = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone,\n    weekday: \"short\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false,\n  });\n\n  const parts = Object.fromEntries(dtf.formatToParts(now).map(p => [p.type, p.value]));\n  const weekday = parts.weekday;\n  const hour = Number(parts.hour);\n  const year = Number(parts.year);\n  const month = Number(parts.month);\n  const day = Number(parts.day);\n\n  const dayIndexMap = { Sun: 0, Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6 };\n  const dayIndex = dayIndexMap[weekday];\n\n  const isSunday = dayIndex === 0;\n  const isSaturdayAfternoon = dayIndex === 6 && hour >= 12;\n\n  const todayCivilUTC = new Date(Date.UTC(year, month - 1, day));\n\n  const daysSinceMonday = (dayIndex + 6) % 7;\n  const daysUntilMonday = (1 - dayIndex + 7) % 7;\n\n  const deltaDaysToReferenceMonday = (isSunday || isSaturdayAfternoon)\n    ? daysUntilMonday\n    : -daysSinceMonday;\n\n  const referenceMondayUTC = new Date(todayCivilUTC);\n  referenceMondayUTC.setUTCDate(referenceMondayUTC.getUTCDate() + deltaDaysToReferenceMonday);\n\n  const previousMondayUTC = new Date(referenceMondayUTC);\n  previousMondayUTC.setUTCDate(previousMondayUTC.getUTCDate() - 7);\n\n  const dd = String(previousMondayUTC.getUTCDate()).padStart(2, \"0\");\n  const mm = String(previousMondayUTC.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = String(previousMondayUTC.getUTCFullYear());\n\n  return `${dd}-${mm}-${yyyy}`;\n}\n\nreturn getPreviousWeekName();\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -352,
        992
      ],
      "id": "3218df82-eb74-40af-9946-cbdcbc32fca3",
      "name": "Get past week"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4kD7xidfp3J53I0y",
          "mode": "list",
          "cachedResultUrl": "/workflow/4kD7xidfp3J53I0y",
          "cachedResultName": "[TOOL] Add feedback for day"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tabName', `Name of the tab in the given sheet in which we want to add the feedback (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
            "day": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('day', `Name of the day for which we want to register the given feedback, for example \"Día 2\"`, 'string') }}",
            "feedback": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('feedback', `Athlete's feedback that we want to register for the day`, 'string') }}",
            "sheetId": "={{ $('Context Data').item.json.GoogleSheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -208,
        640
      ],
      "id": "1e88e086-f370-4bca-bcfe-8107a26d9220",
      "name": "Call '[TOOL] Add feedback for day'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rqHLQ2kbpzzhlLEI",
          "mode": "list",
          "cachedResultUrl": "/workflow/rqHLQ2kbpzzhlLEI",
          "cachedResultName": "[TOOL] Create tab in Google Sheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tabName', `Name of the tab in the given sheet (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
            "sheetId": "={{ $('Context Data').item.json.GoogleSheetId }}"
          },
          "matchingColumns": [
            "tabName"
          ],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -688,
        640
      ],
      "id": "e9cdaafd-9987-42f7-a99d-8d47b843cc2a",
      "name": "Call '[TOOL] Create tab in Google Sheet'"
    },
    {
      "parameters": {
        "description": "Call this tool to add a day to a routine in Google sheets in a given tab (week)",
        "workflowId": {
          "__rl": true,
          "value": "iqmucRbWK7CoenE4",
          "mode": "list",
          "cachedResultUrl": "/workflow/iqmucRbWK7CoenE4",
          "cachedResultName": "[TOOL] Append day to routine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tabName', `Name of the tab in the given sheet where we're going to add the day (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
            "day": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('day', `JSON object describing the day that we have to add to the routine, for example:\n\n{\n\"tabName\": \"25-11-2025\",\n\"day\": {\n\"day\": \"Dia 1\",\n\"warm_up\": {\n\"rounds\": 3,\n\"exercises\": [\n\"ejercicio 1\",\n\"ejercicio 2\",\n\"ejercicio 3\"\n]\n},\n\"main_routine\": [\n\"ejercicio 22\",\n\"ejercicio 44\",\n\"ejercicio 31\"\n]\n}\n}`, 'json') }}",
            "sheetId": "={{ $('Context Data').item.json.GoogleSheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -528,
        640
      ],
      "id": "3a2d047d-da44-4d2d-a91a-9f90ef1da11e",
      "name": "Call '[TOOL] Append day to routine'"
    },
    {
      "parameters": {
        "description": "Call this tool to properly format the routine (in JSON format) given by the athlete. It returns an array of JSON OBJECTS, and it has one object per day of the routine, for example:\n\n[\n\t{\n\t\t\"day\": \"Dia 1\",\n\t\t\"warm_up\": {\n\t\t\t\"rounds\": 3,\n\t\t\t\"exercises\": [\"ejercicio 1\", \"ejercicio 2\", \"ejercicio 3\"]\t\n\t\t},\n\t\t\"main_routine\": [\"ejercicio 22\", \"ejercicio 44\", \"ejercicio 31\"]\n\t},\n\t{\n\t\t\"day\": \"Dia 2\",\n\t\t\"warm_up\": {\n\t\t\t\"rounds\": 2,\n\t\t\t\"exercises\": [\"ejercicio 1\", \"ejercicio 2\", \"ejercicio 3\"]\t\n\t\t},\n\t\t\"main_routine\": [\"ejercicio 1\", \"ejercicio 2\", \"ejercicio 3\"]\n\t}\n]",
        "workflowId": {
          "__rl": true,
          "value": "vs3loQ80CogkN0AY",
          "mode": "list",
          "cachedResultUrl": "/workflow/vs3loQ80CogkN0AY",
          "cachedResultName": "[TOOL] Routine parser"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', `Routine delivered by the athlete in the text message`, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -368,
        640
      ],
      "id": "fc899be9-e332-43c8-b62a-63c6af092e3b",
      "name": "Call '[TOOL] Routine parser'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mMHlvoIek6QwDklg",
          "mode": "list",
          "cachedResultUrl": "/workflow/mMHlvoIek6QwDklg",
          "cachedResultName": "[TOOL] Finish day"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tabName', `Name of the tab in the given sheet in which we want to finish the day (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
            "day": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('day', `Name of the day which we want to finish, for example \"Día 2\"`, 'string') }}",
            "sheetId": "={{ $('Context Data').item.json.GoogleSheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -624,
        816
      ],
      "id": "32400efd-97d6-4c18-8f5a-c25d216fe23e",
      "name": "Call '[TOOL] Finish day'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "M59CFskgjsRCvSfl",
          "mode": "list",
          "cachedResultUrl": "/workflow/M59CFskgjsRCvSfl",
          "cachedResultName": "[TOOL] Add weights for day"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tabName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tabName', `Name of the tab in the given sheet in which we want to record the given weights (this week's Monday date, in format DD-MM-YYYY)`, 'string') }}",
            "day": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('day', `Name of the day for which we want to register the given weights, for example \"Día 2\"`, 'string') }}",
            "weights": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('weights', `Weights that we want to register for the day`, 'string') }}",
            "sheetId": "={{ $('Context Data').item.json.GoogleSheetId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tabName",
              "displayName": "tabName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weights",
              "displayName": "weights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -448,
        816
      ],
      "id": "362cd270-fd3f-4c25-b9d6-75c4c1065dc8",
      "name": "Call '[TOOL] Add weights for day'"
    },
    {
      "parameters": {
        "fileSelector": "/data/assistant_prompt.txt",
        "options": {
          "mimeType": "text/plain"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1120,
        224
      ],
      "id": "0343cf05-bc9d-42c6-8d5b-7accffc531ff",
      "name": "Read prompt file"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -912,
        224
      ],
      "id": "0bc5c4b4-9e6d-4ef5-9cb7-9280cabeb04d",
      "name": "Get prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d71af07-8451-48d2-85dd-c07e7e39cab1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "rightValue": "={{ $('Context Data').item.json.TelegramChatId}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dd67f178-739f-4c5f-942b-d4f6e1166f45",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.from.username }}",
              "rightValue": "={{ $('Context Data').item.json.TelegramChatName }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        240
      ],
      "id": "d9fb111f-773f-4d21-8d4c-3283cafde9dc",
      "name": "If allowed"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "xli74kmpGyI1wlB2",
          "mode": "list",
          "cachedResultName": "TrainingAssistant",
          "cachedResultUrl": "/projects/aeY8B7uB5tcsmRox/datatables/xli74kmpGyI1wlB2"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1616,
        240
      ],
      "id": "d4a5b3e0-4d34-47cb-bbc4-b228cf84a25f",
      "name": "Context Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Training assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Training assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Training assistant": {
      "main": [
        [
          {
            "node": "Send response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current week": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get past week": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Add feedback for day'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Create tab in Google Sheet'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Append day to routine'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Routine parser'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Finish day'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '[TOOL] Add weights for day'": {
      "ai_tool": [
        [
          {
            "node": "Training assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Typing": {
      "main": [
        []
      ]
    },
    "Read prompt file": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Training assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If allowed": {
      "main": [
        [
          {
            "node": "Read prompt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Data": {
      "main": [
        [
          {
            "node": "If allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bad264d2-c0ef-4af6-97e7-9eed2275b13d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35eeb1559ddbb34785d751ad6f811896d5950bf49657b92992f98b15437ded87"
  },
  "id": "RuPEdiqL2ZD8ahhZ",
  "tags": [
    {
      "updatedAt": "2025-12-29T19:20:45.402Z",
      "createdAt": "2025-12-29T19:20:45.402Z",
      "id": "qGDdykYm74MmqAaH",
      "name": "current"
    }
  ]
}